.ico{

  display:inline-block;
  >*{
    cursor: pointer;
      }
}
.icon-round {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &_white {
    background-color: $color-light;
  }
}