.ico{

  display:inline-block;
  >*{
    cursor: pointer;
      }
}
.icon-round {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &_white {
    background-color: $color-light;
  }
}
.ico_phone{
  background-image: url("./../../src/img/ico/phone.svg");
  width: 40px;
  height: 32px;

}
.ico_letter{
  background-image: url("./../../src/img/ico/mail.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 26px;
}
.ico_fax{
  background-image: url("./../../src/img/ico/tel-fax.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 46px;
}
.ico_mobile{
  background-image: url("./../../src/img/ico/mobile-phone.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 40px;
}
.ico_address{
  background-image: url("./../../src/img/ico/address.svg");
  background-repeat: no-repeat;
  width: 20.62px;
  height: 30px;
  padding: 0 15px;
  }