.footer{
  padding: 60px 0 70px;
  @include media-mobile{
    padding: 31px 0 ;
  }
  background-image: linear-gradient( to right, rgba(81, 61, 47, 1), rgba(26, 26, 28, 1));
}
.footer__wrapper{
  display:flex;
  @include media-tablet{
    flex-direction: column;
    justify-content: center;
  }
 }
.footer-navigation{
  flex-grow: 1;
  padding-left: 152px;
  @include media-tablet{
    padding-left: 0;
    margin-top: 34px;
  }
  @include media-mobile{
    padding-left: 0;
    flex-direction: column;
  }
}
.footer-navigation__title{
  margin: 0 0 15px;
  color: $color-light;
  letter-spacing: 0.067em;
}
.footer-navigation__links{
  @extend %font-add;
  list-style-type:none;
  padding: 0;
  color: $color-light;
  a{
    color: $color-text;
    @extend %transition;
    @include font($size:1.6rem, $height: 3.5rem, $weight: normal );
    text-decoration: none;
    &:hover{
      color: $color-light;
    }
  }
}
.copyright{
  margin: 0 auto;
  color: $color-main;
}